{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://nationalcatalog.kz","description":"Generated server url"}],"security":[{"ApiKeyAuth":[]}],"tags":[{"name":"Карточки товаров","description":"API для работы с карточками товаров"},{"name":"Заявки на товары","description":"API для управления заявками на товары в портале."},{"name":"Справочники","description":"API для работы со справочниками"}],"paths":{"/portal/api/v1/products/requests/{id}":{"put":{"tags":["Заявки на товары"],"summary":"Обновить заявку на товар","description":"Метод позволяет обновить атрибуты заявки на создание карточки товара.\nОбновление доступно только для заявок в статусе **new** (Новая) или **underRevision** (На доработке)\nили **underRevisionGz** (На доработке ГЗ) или **cancelled** (Отозвано).\nВ запросе необходимо передать полный список атрибутов с новыми значениями.\n","operationId":"updateProductRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalCreateUpdateProductRequestDto"},"examples":{"Пример запроса":{"description":"Пример запроса","value":{"oktru":"1106-0001-0001-100011943","autoPublication":true,"attributes":[{"code":"gtin","value":"10000000000001"},{"code":"xtin","value":"1000000000000"},{"code":"name_ru","value":"Полное наименование товара (отредактировано)"},{"code":"name_kk","value":"Полное наименование товара (отредактировано)"},{"code":"name_en","value":"Полное наименование товара (отредактировано)"},{"code":"short_name_ru","value":"Стакан шоколадный пакет"},{"code":"short_name_kk","value":"Шыны шоколад пакеті"},{"code":"paket","value":"1"},{"code":"country","value":"KZ"},{"code":"brand","value":"brand"},{"code":"article","value":"Модель / артикул"},{"code":"mpn_code","value":"Заводской номер"},{"code":"tnved","value":"2105009100"},{"code":"a0238c5b","value":"1"},{"code":"measure","index":1,"value":""},{"code":"unit_category","parent_code":"measure","index":1,"value":"timeUnits"},{"code":"measure_unit","parent_code":"measure","index":1,"value":"351"},{"code":"quantity","parent_code":"measure","index":1,"value":"1"},{"code":"131777b5","index":1,"value":""},{"code":"eaes","parent_code":"131777b5","index":1,"value":"true"},{"code":"marking_required_status","parent_code":"131777b5","index":1,"value":"true"},{"code":"szpt","parent_code":"131777b5","index":1,"value":"true"},{"code":"made_in_country","parent_code":"131777b5","index":1,"value":"true"},{"code":"098223e4","index":1,"value":""},{"code":"producer_identifier","parent_code":"098223e4","index":1,"value":"1000000000000"},{"code":"producer_country","parent_code":"098223e4","index":1,"value":"AB"},{"code":"a4282e5d","parent_code":"098223e4","index":1,"value":"Наименование производителя"}]}}}}},"required":true},"responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}},"delete":{"tags":["Заявки на товары"],"summary":"Удалить заявку на товар","description":"Метод удаляет заявку на создание карточки товара по ее идентификатору.\nУдаление доступно только для заявок в статусе **new** (Новая).\nПосле удаления заявка перестает отображаться в списке пользователя.\n","operationId":"deleteProductRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Успешный ответ. Заявка удалена, тело ответа отсутствует.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/{id}/publish":{"put":{"tags":["Заявки на товары"],"summary":"Опубликовать заявку на товар","description":"Метод инициирует публикацию карточки товара, созданной в результате заявки.\nДоступно только для заявок со статусом **readyToPublish** (Готов к публикации).\n\nПосле успешного вызова заявка передаётся в процесс публикации и ее статус изменяется на:\n- **publishingGz** — Публикация ГЗ (если карточка относится к государственным закупкам),\n- **completed** — Выполнено (если публикация завершена успешно).\n\nЕсли заявка не готова к публикации или уже опубликована — будет возвращена ошибка бизнес-валидации.\n","operationId":"publish","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Успешный ответ. Публикация заявки запущена, тело ответа отсутствует.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/{id}/moderation":{"put":{"tags":["Заявки на товары"],"summary":"Отправить заявку на модерацию","description":"Метод переводит заявку на создание карточки товара в состояние модерации.\nОтправка на модерацию доступна только для заявок в статусе **new** (Новая)\nили **underRevision** (На доработке) или **underRevisionGz** (На доработке ГЗ).\n\nПосле вызова метода заявка передается на проверку модератору.\nДополнительные параметры передавать не требуется.\n","operationId":"onModerationRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Успешный ответ. Заявка успешно отправлена на модерацию.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Заявка не может быть отправлена на модерацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка бизнес-валидации. Текущий статус заявки не допускает отправку на модерацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/{id}/cancel":{"put":{"tags":["Заявки на товары"],"summary":"Отозвать заявку на товар","description":"Метод позволяет отозвать заявку на создание карточки товара.\nОтзыв доступен только для заявок в статусе **onModeration** (На модерации).\n\nПосле вызова метода заявка переводится в состояние **cancelled** (Отозвана).\nДополнительные параметры передавать не требуется.\n","operationId":"cancelRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Успешный ответ. Заявка успешно отозвана.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Текущий статус заявки не допускает ее отзыв.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка бизнес-валидации. Заявка не находится на модерации и не может быть отозвана.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests":{"get":{"tags":["Заявки на товары"],"summary":"Получить список заявок на товары пользователя","description":"Метод возвращает постраничный список заявок на создание карточек товаров,\nпринадлежащих текущему пользователю.\nКаждый элемент содержит краткие сведения о заявке, включая:\n- иерархию категории (ancestors),\n- базовые данные о товаре (наименование, краткое наименование),\n- статус и тип заявки,\n- дату создания и флаг автоматической публикации.\n","operationId":"fetch","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["new","onModeration","accepted","underRevision","rejected","cancelled","readyToPublish","completed","existingProductSelected"]}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32","minimum":1}},{"name":"size","in":"query","required":true,"schema":{"type":"integer","format":"int32","maximum":100}}],"responses":{"200":{"description":"Успешный ответ. Возвращён список заявок пользователя.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagedPortalProductRequestShortDto"},"examples":{"Пример ответа":{"description":"Пример ответа","value":{"content":[{"id":26799,"categoryId":8812,"categoryAncestors":[{"level":1,"code":"1015","nameKk":"Дәрілік заттар","nameRu":"Лекарственные средства"},{"level":2,"code":"1015-0001","nameRu":"Пищеварительный тракт и обмен веществ"},{"level":3,"code":"1015-0001-0029","nameRu":"Другие противорвотные препараты"},{"level":4,"code":"1015-0001-0029-100001212","nameRu":"Хлоробутанол в комбинации со средствами"}],"productData":{"nameRu":"Платье женское вечернее из шелка","nameKk":"Жібектен тігілген әйелдердің кешкі көйлегі","shortNameRu":"Платье вечернее","shortNameKk":"Кешкі көйлек"},"status":{"code":"new","value":"Новая"},"requestType":{"code":"base","value":"Базовый"},"autoPublication":false,"createdDate":"2025-10-26T00:02:06","isGovernment":false}],"totalElements":5,"totalPages":1}}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}},"post":{"tags":["Заявки на товары"],"summary":"Создать заявку на товар","description":"    Метод создает черновик заявки на карточку товара.\n    На этапе создания выполняется только базовая проверка данных — полная валидация\n    осуществляется позже, при отправке заявки на модерацию.\n\n    Для создания черновика необходимо указать как минимум:\n    - **oktru** — код категории товара\n    - **name_ru** — полное наименование товара\n\n    Если атрибут имеет тип **multiDictionary**, его поле **value** поддерживает\n    передачу нескольких справочных значений, разделенных символом **@**.\n    В этом случае каждое значение интерпретируется как отдельный элемент справочника.\n\n    Пример передачи множественного справочного значения:\n    - `\"value\": \"2105009100@6403919600\"`\n\n    После создания черновика заявка может быть дополнена другими атрибутами.\n    При последующей передаче на модерацию система выполнит полную проверку корректности\n    заполнения всех обязательных атрибутов в соответствии с требованиями категории.\n","operationId":"createProductRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalCreateUpdateProductRequestDto"},"examples":{"Пример запроса":{"description":"Пример запроса","value":{"oktru":"1106-0001-0001-100011943","autoPublication":true,"attributes":[{"code":"gtin","value":"10000000000000"},{"code":"xtin","value":"1000000000000"},{"code":"name_ru","value":"Полное наименование товара"},{"code":"name_kk","value":"Полное наименование товара"},{"code":"name_en","value":"Полное наименование товара"},{"code":"short_name_ru","value":"Стакан шоколадный пакет(50)"},{"code":"short_name_kk","value":"Шины шоколад пакеті (50)"},{"code":"paket","value":"1"},{"code":"country","value":"KZ"},{"code":"brand","value":"brand"},{"code":"article","value":"Модель / артикул"},{"code":"mpn_code","value":"Заводской номер"},{"code":"tnved","value":"2105009100"},{"code":"a0238c5b","value":"1"},{"code":"measure","index":1,"value":""},{"code":"unit_category","parent_code":"measure","index":1,"value":"timeUnits"},{"code":"measure_unit","parent_code":"measure","index":1,"value":"351"},{"code":"quantity","parent_code":"measure","index":1,"value":"1"},{"code":"131777b5","index":1,"value":""},{"code":"eaes","parent_code":"131777b5","index":1,"value":"true"},{"code":"marking_required_status","parent_code":"131777b5","index":1,"value":"true"},{"code":"szpt","parent_code":"131777b5","index":1,"value":"true"},{"code":"made_in_country","parent_code":"131777b5","index":1,"value":"true"},{"code":"098223e4","index":1,"value":""},{"code":"producer_identifier","parent_code":"098223e4","index":1,"value":"1000000000000"},{"code":"producer_country","parent_code":"098223e4","index":1,"value":"AB"},{"code":"a4282e5d","parent_code":"098223e4","index":1,"value":"Наименование производителя"}]}}}}},"required":true},"responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProductResponseDto"},"examples":{"Пример ответа":{"description":"Пример ответа","value":{"id":4125}}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v2/products/{tin}":{"get":{"tags":["Карточки товаров"],"summary":"Получить список карточек товаров по NTIN или GTIN","description":"Выполняет поиск карточек товаров по указанным идентификаторам NTIN или GTIN.\n\nGTIN не является уникальным и может соответствовать нескольким различным товарам —\nв этом случае API возвращает полный список всех найденных карточек.\n\nNTIN является уникальным идентификатором товара, поэтому при поиске по NTIN\nAPI всегда возвращает только одну карточку (если она существует).\n","operationId":"getProductByTin","parameters":[{"name":"tin","in":"path","description":"Код NTIN или GTIN. Должен состоять только из 13 цифр.","required":true,"schema":{"type":"string"},"example":"0954353542345"}],"responses":{"200":{"description":"Карточка товара найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalProductDto"},"example":[{"id":18,"gtin":"0954353542345","ntin":"0200120931509","nameKk":"Smartfon Apple iPhone 17 Pro 256GB Cosmic Orange","nameRu":"Smartfon Apple iPhone 17 Pro 256GB Cosmic Orange","nameEn":"Smartfon Apple iPhone 17 Pro 256GB Cosmic Orange_edited","shortNameKk":"Apple iPhone 17 Pro","shortNameRu":"Apple iPhone 17 Pro","shortNameEn":"Apple iPhone 17 Pro","requestType":"base","categoryAncestors":[{"level":1,"code":"1024","nameKk":"Bailanys kuraldary","nameRu":"Sredstva kommunikacii"},{"level":2,"code":"1024-0001","nameRu":"Sredstva kommunikacii"},{"level":3,"code":"1024-0001-0003","nameRu":"Ustroistva mobilnoi svyazi"},{"level":4,"code":"1024-0001-0003-100007979","nameRu":"Mobilnye telefony"}],"isGovernment":false,"createdDate":"2025-10-08T19:10:00","updatedDate":"2025-10-24T01:42:21"}]}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/{tin}":{"get":{"tags":["Карточки товаров"],"summary":"Получить карточку товара по NTIN или GTIN","description":"Возвращает полную карточку товара по указанному коду NTIN или GTIN.\nЕсли передан GTIN — поиск выполняется по GTIN, если NTIN — по NTIN.\n","operationId":"getProductByTin_1","parameters":[{"name":"tin","in":"path","description":"Код NTIN всегда состоит из 13 цифр. Код GTIN может содержать 13 или 14 цифр.","required":true,"schema":{"type":"string"},"example":"0954353542345"}],"responses":{"200":{"description":"Карточка товара найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalProductDto"},"example":{"id":18,"gtin":"0954353542345","ntin":"0200120931509","nameKk":"Smartfon Apple iPhone 17 Pro 256GB Cosmic Orange","nameRu":"Smartfon Apple iPhone 17 Pro 256GB Cosmic Orange","nameEn":"Smartfon Apple iPhone 17 Pro 256GB Cosmic Orange_edited","shortNameKk":"Apple iPhone 17 Pro","shortNameRu":"Apple iPhone 17 Pro","shortNameEn":"Apple iPhone 17 Pro","requestType":"base","categoryAncestors":[{"level":1,"code":"1024","nameKk":"Bailanys kuraldary","nameRu":"Sredstva kommunikacii"},{"level":2,"code":"1024-0001","nameRu":"Sredstva kommunikacii"},{"level":3,"code":"1024-0001-0003","nameRu":"Ustroistva mobilnoi svyazi"},{"level":4,"code":"1024-0001-0003-100007979","nameRu":"Mobilnye telefony"}],"isGovernment":false,"createdDate":"2025-10-08T19:10:00","updatedDate":"2025-10-24T01:42:21"}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/{id}/status":{"get":{"tags":["Заявки на товары"],"summary":"Получить статус заявки на товар по идентификатору","description":"Метод возвращает текущий статус заявки на создание карточки товара.\nВ ответе содержится код статуса и его локализованное наименование.\n\nВозможные статусы:\n- **new** — Новая\n- **onModeration** — Отправлена на модерацию\n- **accepted** — Принято в работу\n- **acceptedGz** — Принято в работу ГЗ\n- **underRevision** — На доработке\n- **underRevisionGz** — На доработке ГЗ\n- **rejected** — Отклонено\n- **rejectedGz** — Отклонено ГЗ\n- **publishingGz** — Публикация ГЗ\n- **cancelled** — Отозвано\n- **readyToPublish** — Готов к публикации\n- **completed** — Выполнено\n","operationId":"getStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Успешный ответ. Возвращён текущий статус заявки.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocalizationItemDto"},"examples":{"Пример ответа":{"description":"Пример ответа","value":{"code":"new","value":"Новая"}}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/{id}/details":{"get":{"tags":["Заявки на товары"],"summary":"Получить детали заявки на товар","description":"Возвращает полную информацию о заявке на создание карточки товара по ее идентификатору.\nВ ответе содержатся:\n- иерархия категорий (ancestors) до конкретной позиции ОКТРУ,\n- статус и тип заявки,\n- список всех атрибутов товара с заполненными значениями.\n","operationId":"getDetails","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortalAttributeObjectDto"},"examples":{"Пример ответа":{"description":"Пример ответа","value":{"id":26801,"categoryId":8812,"categoryAncestors":[{"level":1,"code":"1015","nameKk":"Дәрілік заттар","nameRu":"Лекарственные средства"},{"level":2,"code":"1015-0001","nameRu":"Пищеварительный тракт и обмен веществ"},{"level":3,"code":"1015-0001-0029","nameRu":"Другие противорвотные препараты"},{"level":4,"code":"1015-0001-0029-100001212","nameRu":"Хлоробутанол в комбинации со средствами"}],"status":{"code":"new","value":"Новая"},"requestType":{"code":"base","value":"Базовый"},"autoPublication":false,"createdDate":"2025-10-26T18:35:11","attributes":[{"code":"name_ru","attributeType":"standard","nameRu":"Полное наименование товара (рус)","nameKk":"Тауардың толық атауы (орыс)","dataType":"string","isRequired":true,"isUnique":true,"value":"Платье женское вечернее из шелка"},{"code":"name_kk","attributeType":"standard","nameRu":"Полное наименование товара (қаз)","nameKk":"Тауардың толық атауы (қаз)","dataType":"string","isRequired":true,"isUnique":true,"value":"Жібектен тігілген әйелдердің кешкі көйлегі"},{"code":"country","attributeType":"standard","nameRu":"Страна происхождения","dataType":"dictionary","dictionaryCode":"COUNTRY","isRequired":true,"value":"KZ","values":{"code":"KZ","nameRu":"КАЗАХСТАН"}}],"isGovernment":false}}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/products/requests/attributes":{"get":{"tags":["Заявки на товары"],"summary":"Получить список доступных атрибутов для создания заявки на товар","description":"Метод возвращает список всех атрибутов, необходимых для формирования заявки на создание карточки товара.","operationId":"attributes","responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PortalAttributeObjectDto"}},"examples":{"Пример ответа":{"description":"Пример ответа","value":[{"code":"gtin","attributeType":"standard","nameRu":"Код GTIN","descriptionRu":"Код GTIN","nameKk":"Код GTIN","descriptionKk":"Код GTIN","dataType":"string","isRequired":false,"isUnique":false},{"code":"name_kk","attributeType":"standard","nameRu":"Полное наименование товара (қаз)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (қаз)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true},{"code":"name_ru","attributeType":"standard","nameRu":"Полное наименование товара (рус)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (орыс)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true}]}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/dictionaries":{"get":{"tags":["Справочники"],"summary":"1. Получить список всех доступных справочников","description":"Возвращает список всех справочников, доступных для портала.","operationId":"getAllDictionaries","responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PortalAttributeObjectDto"}},"examples":{"Пример ответа":{"description":"Пример ответа","value":[{"code":"gtin","attributeType":"standard","nameRu":"Код GTIN","descriptionRu":"Код GTIN","nameKk":"Код GTIN","descriptionKk":"Код GTIN","dataType":"string","isRequired":false,"isUnique":false},{"code":"name_kk","attributeType":"standard","nameRu":"Полное наименование товара (қаз)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (қаз)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true},{"code":"name_ru","attributeType":"standard","nameRu":"Полное наименование товара (рус)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (орыс)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true}]}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/dictionaries/{dictionaryCode}/roots":{"get":{"tags":["Справочники"],"summary":"2. Получить корневые элементы справочника","description":"Возвращает список корневых элементов указанного справочника.","operationId":"getRootItems","parameters":[{"name":"dictionaryCode","in":"path","description":"Код справочника (например, OKTRU)","required":true,"schema":{"type":"string"},"example":"OKTRU"}],"responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PortalAttributeObjectDto"}},"examples":{"Пример ответа":{"description":"Пример ответа","value":[{"code":"gtin","attributeType":"standard","nameRu":"Код GTIN","descriptionRu":"Код GTIN","nameKk":"Код GTIN","descriptionKk":"Код GTIN","dataType":"string","isRequired":false,"isUnique":false},{"code":"name_kk","attributeType":"standard","nameRu":"Полное наименование товара (қаз)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (қаз)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true},{"code":"name_ru","attributeType":"standard","nameRu":"Полное наименование товара (рус)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (орыс)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true}]}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/dictionaries/{dictionaryCode}/items":{"get":{"tags":["Справочники"],"summary":"4. Получить элементы справочника (постранично)","description":"Возвращает постраничный список элементов указанного справочника.\nМетод универсален и подходит как для древовидных, так и для недревовидных справочников\n(например, OKTRU, TNVED).\n\nПример запроса:\nGET /portal/api/v1/dictionaries/tnved/items?page=1&size=2\n","operationId":"getItems","parameters":[{"name":"dictionaryCode","in":"path","description":"Код справочника (например, OKTRU, TNVED)","required":true,"schema":{"type":"string"},"example":"TNVED"},{"name":"page","in":"query","description":"Номер страницы (начиная с 1)","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"size","in":"query","description":"Количество элементов на странице (1–100)","required":true,"schema":{"type":"integer","format":"int32"},"example":2}],"responses":{"200":{"description":"Успешный ответ. Возвращает постраничный список элементов справочника.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDto"},"examples":{"Пример ответа":{"description":"Пример ответа","value":{"content":[{"id":27771,"code":"9999999999","level":1,"hasChild":false,"properties":{"code":"9999999999","nameKk":"Прочие товары","nameRu":"Прочие товары"},"isDeleted":false,"createdDate":"2025-10-26T01:15:32","updatedDate":"2025-10-26T01:15:32"},{"id":27770,"parentId":27768,"code":"9706900000","level":1,"hasChild":false,"properties":{"code":"9706900000","nameKk":"Антиквариат возрастом более 100 лет: прочий","nameRu":"Антиквариат возрастом более 100 лет: прочий"},"isDeleted":false,"createdDate":"2025-10-26T01:15:32","updatedDate":"2025-10-26T01:15:32"}],"totalElements":13612,"totalPages":6806}}}}}},"400":{"description":"Некорректный запрос. Ошибка в параметрах page или size.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"401":{"description":"Не авторизован. Требуется действительный API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"422":{"description":"Ошибка бизнес-валидации.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}},"/portal/api/v1/dictionaries/{dictionaryCode}/children/{parentId}":{"get":{"tags":["Справочники"],"summary":"3. Получить дочерние элементы по parentId","description":"Возвращает список элементов справочника, являющихся дочерними для указанного родителя.\nПоля аналогичны методу получения корневых элементов.\n","operationId":"getItemsByParentId","parameters":[{"name":"dictionaryCode","in":"path","description":"Код справочника (например OKTRU)","required":true,"schema":{"type":"string"},"example":"OKTRU"},{"name":"parentId","in":"path","description":"Идентификатор родительского элемента","required":true,"schema":{"type":"integer","format":"int64"},"example":9125264}],"responses":{"200":{"description":"Успешный ответ. Запрос выполнен корректно, возвращены ожидаемые данные.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PortalAttributeObjectDto"}},"examples":{"Пример ответа":{"description":"Пример ответа","value":[{"code":"gtin","attributeType":"standard","nameRu":"Код GTIN","descriptionRu":"Код GTIN","nameKk":"Код GTIN","descriptionKk":"Код GTIN","dataType":"string","isRequired":false,"isUnique":false},{"code":"name_kk","attributeType":"standard","nameRu":"Полное наименование товара (қаз)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (қаз)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true},{"code":"name_ru","attributeType":"standard","nameRu":"Полное наименование товара (рус)","descriptionRu":"Наименование товара должно быть без грамматических ошибок","nameKk":"Тауардың толық атауы (орыс)","descriptionKk":"Тауар атауы грамматикалық қателерсіз болуы тиіс","dataType":"string","isRequired":true,"isUnique":true}]}}}}},"401":{"description":"Не авторизован. Требуется действительный токен доступа или API-ключ.","content":{"*/*":{"schema":{"type":"string"},"example":"no content"}}},"400":{"description":"Некорректный запрос. Ошибка в переданных параметрах или структуре данных.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"VALIDATION_ERROR","message":"Ошибка валидации данных."}}}},"422":{"description":"Ошибка валидации. Данные корректно сформированы, но не проходят бизнес-валидацию.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"UNEXPECTED_ERROR","message":"Ошибка обработки данных."}}}},"500":{"description":"Внутренняя ошибка сервера. Произошла непредвиденная ошибка при обработке запроса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorDto"},"example":{"code":"INTERNAL_ERROR","message":"Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже."}}}}}}}},"components":{"schemas":{"PortalCreateUpdateProductRequestDto":{"type":"object","description":"Запрос на создание заявки на карточку товара","properties":{"oktru":{"type":"string","description":"Код категории товара (ОКТРУ), соответствующий иерархии классификатора","example":"1015-0001-0029-100001212","minLength":1},"attributes":{"$ref":"#/components/schemas/PortalProductRequestAttributeValue","description":"Список атрибутов заявки. Каждый элемент содержит код атрибута и его значение.","example":[{"code":"name_ru","value":"Платье женское вечернее из шелка"},{"code":"name_kk","value":"Жібектен тігілген әйелдердің кешкі көйлегі"},{"code":"country","value":"CN"},{"code":"brand","value":"ZARA"}]},"autoPublication":{"type":"boolean","default":false,"description":"Флаг автоматической публикации после успешного создания заявки","example":false}},"required":["attributes","autoPublication","oktru"]},"PortalProductRequestAttributeValue":{"type":"object","description":"Пара (код атрибута, значение), используемая при создании заявки на товар","example":[{"code":"name_ru","value":"Платье женское вечернее из шелка"},{"code":"name_kk","value":"Жібектен тігілген әйелдердің кешкі көйлегі"},{"code":"country","value":"CN"},{"code":"brand","value":"ZARA"}],"properties":{"code":{"type":"string","description":"Код атрибута, соответствующий структуре категории","example":"name_ru","minLength":1},"value":{"type":"string","description":"Значение атрибута. Может быть строкой, числом, булевым значением или кодом справочника","example":"Платье женское вечернее из шелка"}},"required":["code"]},"ApiErrorDto":{"type":"object","properties":{"code":{"type":"string","description":"Код ошибки"},"message":{"type":"string","description":"Сообщение об ошибке"}}},"CreateProductResponseDto":{"type":"object","description":"Ответ при создании заявки на товар","properties":{"id":{"type":"integer","format":"int64","description":"Идентификатор созданной заявки на товар","example":12345}}},"ImageData":{"type":"object","properties":{"imageFiles":{"type":"array","items":{"$ref":"#/components/schemas/ImageFile"}}}},"ImageFile":{"type":"object","properties":{"fileName":{"type":"string"},"imageType":{"type":"string","enum":["front","back","left","right","top","bottom"]},"moderatorComment":{"type":"string"},"aiComment":{"type":"string"}}},"PortalAncestor":{"type":"object","description":"Информация о родительской категории в иерархии ОКТРУ","example":[{"level":1,"code":"1015","nameKk":"Дәрілік заттар","nameRu":"Лекарственные средства"},{"level":2,"code":"1015-0001","nameRu":"Пищеварительный тракт и обмен веществ"},{"level":3,"code":"1015-0001-0029","nameRu":"Другие противорвотные препараты"},{"level":4,"code":"1015-0001-0029-100001212","nameRu":"Хлоробутанол в комбинации со средствами"}],"properties":{"level":{"type":"integer","format":"int32","description":"Уровень категории в иерархии (1 — верхний, 4 — конечный)","example":3},"code":{"type":"string","description":"Код категории (ОКТРУ)","example":"1015-0001-0029"},"nameKk":{"type":"string","description":"Наименование категории на казахском языке","example":"Басқа құсуға қарсы препараттар"},"nameRu":{"type":"string","description":"Наименование категории на русском языке","example":"Другие противорвотные препараты"}}},"PortalAttributeObjectDto":{"type":"object","description":"Объект атрибута для заявок на товары в портале","properties":{"code":{"type":"string","description":"Уникальный код атрибута","example":"name_ru","minLength":1},"index":{"type":"integer","format":"int32","description":"Индекс атрибута в составном атрибуте","example":1},"attributeOrder":{"type":"integer","format":"int32","description":"Порядок атрибута","example":4},"attributeType":{"type":"string","description":"Тип атрибута","enum":["standard","advanced","gov","compound","compoundStandard"],"example":"standard"},"nameRu":{"type":"string","description":"Наименование атрибута на русском языке","example":"Полное наименование товара (рус)","minLength":1},"descriptionRu":{"type":"string","description":"Описание атрибута на русском языке","example":"Наименование товара должно быть без грамматических ошибок"},"nameKk":{"type":"string","description":"Наименование атрибута на казахском языке","example":"Тауардың толық атауы (орыс)","minLength":1},"descriptionKk":{"type":"string","description":"Описание атрибута на казахском языке","example":"Тауар атауы грамматикалық қателерсіз болуы тиіс"},"dataType":{"type":"string","description":"Тип данных атрибута","enum":["string","text","number","boolean","dictionary","multiDictionary","date"],"example":"string"},"isRequired":{"type":"boolean","description":"Признак обязательности заполнения","example":true},"isUnique":{"type":"boolean","description":"Признак уникальности значения","example":false},"maxLength":{"type":"integer","format":"int32","description":"Максимальная длина строки (для строковых атрибутов)","example":255},"minValue":{"type":"string","description":"Минимальное значение (для числовых атрибутов)","example":1},"maxValue":{"type":"string","description":"Максимальное значение (для числовых атрибутов)","example":100},"dictionaryCode":{"type":"string","description":"Код справочника, если атрибут связан со справочником","example":"COUNTRY"},"pattern":{"type":"string","description":"Регулярное выражение для проверки значения атрибута","example":"^[A-Z0-9_-]{3,20}$"},"isSingle":{"type":"boolean","description":"Является ли составной атрибут одиночным","example":false},"value":{"type":"string","description":"Значение атрибута","example":"Платье женское вечернее из шелка"},"values":{"type":"object","additionalProperties":{},"description":"Объект значения, если атрибут связан со справочником (dictionary)","example":{"code":"KZ","nameRu":"КАЗАХСТАН","nameKk":"ҚАЗАҚСТАН"}},"multiValues":{"type":"array","description":"Список значений, если атрибут является мульти-справочником (multiDictionary)","example":[{"code":"EA","nameRu":"Штука"},{"code":"KG","nameRu":"Килограмм"}],"items":{"type":"object","additionalProperties":{}}},"attributes":{"$ref":"#/components/schemas/PortalAttributeObjectDto","description":"Вложенные атрибуты, если атрибут является составным (complex)"}},"required":["code","dataType","nameKk","nameRu"]},"PortalProductDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"gtin":{"type":"string"},"ntin":{"type":"string"},"kztin":{"type":"string"},"nameKk":{"type":"string"},"nameRu":{"type":"string"},"nameEn":{"type":"string"},"shortNameKk":{"type":"string"},"shortNameRu":{"type":"string"},"shortNameEn":{"type":"string"},"requestType":{"type":"string","enum":["base","gov"]},"categoryAncestors":{"type":"array","items":{"$ref":"#/components/schemas/PortalAncestor"}},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/PortalAttributeObjectDto"}},"imageData":{"$ref":"#/components/schemas/ImageData"},"createdDate":{"type":"string","format":"date-time","description":"Дата и время создания товара","example":"2025-10-26T18:35:11"},"updatedDate":{"type":"string","format":"date-time","description":"Дата и время последнего обновления","example":"2025-10-26T19:10:45"}}},"LocalizationItemDto":{"type":"object","description":"Элемент с локализованным значением","properties":{"code":{"type":"string","description":"Код значения (например, внутренний идентификатор или ключ справочника)"},"value":{"type":"string","description":"Локализованное значение (отображаемое название)"}}},"PagedPortalProductRequestShortDto":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/PortalProductRequestShortDto"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"additionalData":{"type":"object","additionalProperties":{}}}},"PortalDictionaryItem":{"type":"object","description":"Элемент справочника (элемент списка или узел древовидного справочника)","example":{"code":"MISSING_COUNTRY","nameKk":"Тауардың шыққан елі көрсетілмеген","nameRu":"Не указана страна происхождения товара"},"properties":{"code":{"type":"string","description":"Код элемента справочника","example":"1015-0001-0029"},"nameKk":{"type":"string","description":"Наименование элемента справочника на казахском языке","example":"Басқа құсуға қарсы препараттар"},"nameRu":{"type":"string","description":"Наименование элемента справочника на русском языке","example":"Другие противорвотные препараты"}}},"PortalProductRequestShortDto":{"type":"object","description":"Краткая информация о заявке на создание карточки товара","properties":{"id":{"type":"integer","format":"int64","description":"Уникальный идентификатор заявки","example":26799},"categoryId":{"type":"integer","format":"int64","description":"Идентификатор категории, к которой относится товар","example":8812},"categoryAncestors":{"$ref":"#/components/schemas/PortalAncestor","description":"Иерархия категорий (предков) от верхнего уровня до конкретной позиции ОКТРУ","example":[{"level":1,"code":"1015","nameKk":"Дәрілік заттар","nameRu":"Лекарственные средства"},{"level":2,"code":"1015-0001","nameRu":"Пищеварительный тракт и обмен веществ"},{"level":3,"code":"1015-0001-0029","nameRu":"Другие противорвотные препараты"},{"level":4,"code":"1015-0001-0029-100001212","nameRu":"Хлоробутанол в комбинации со средствами"}]},"productData":{"$ref":"#/components/schemas/ProductPreviewData","description":"Основные данные товара (наименования на разных языках)","example":{"nameRu":"Платье женское вечернее из шелка","nameKk":"Жібектен тігілген әйелдердің кешкі көйлегі","shortNameRu":"Платье вечернее","shortNameKk":"Кешкі көйлек"}},"status":{"$ref":"#/components/schemas/LocalizationItemDto","description":"Текущий статус заявки (локализованный)","example":{"code":"new","value":"Новая"}},"rejectionReason":{"$ref":"#/components/schemas/PortalRejectionReason","description":"Причина отклонения, если заявка была отклонена"},"requestType":{"$ref":"#/components/schemas/LocalizationItemDto","description":"Тип заявки (локализованный)","example":{"code":"base","value":"Базовый"}},"autoPublication":{"type":"boolean","description":"Флаг автоматической публикации после создания","example":false},"createdDate":{"type":"string","format":"date-time","description":"Дата и время создания заявки","example":"2025-10-26T00:02:06"},"updatedDate":{"type":"string","format":"date-time","description":"Дата и время последнего обновления заявки","example":"2025-10-26T00:45:10"}}},"PortalRejectionReason":{"type":"object","description":"Причина отклонения заявки на товар","properties":{"reason":{"type":"string","description":"Текстовое описание причины отклонения, указанное модератором","example":"Не указана страна происхождения товара"},"reasonItem":{"$ref":"#/components/schemas/PortalDictionaryItem","description":"Элемент справочника причины отклонения (локализованный)","example":{"code":"MISSING_COUNTRY","nameKk":"Тауардың шыққан елі көрсетілмеген","nameRu":"Не указана страна происхождения товара"}}}},"ProductPreviewData":{"type":"object","description":"Основные данные товара (наименования на разных языках)","example":{"nameRu":"Платье женское вечернее из шелка","nameKk":"Жібектен тігілген әйелдердің кешкі көйлегі","shortNameRu":"Платье вечернее","shortNameKk":"Кешкі көйлек"},"properties":{"nameRu":{"type":"string"},"nameKk":{"type":"string"},"shortNameRu":{"type":"string"},"shortNameKk":{"type":"string"}}},"PageDto":{"type":"object","properties":{"content":{"type":"array","items":{}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"additionalData":{"type":"object","additionalProperties":{}}}}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","description":"API ключ для доступа к защищённым ресурсам","name":"X-API-KEY","in":"header"}}}}